body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 200;
  background: #222222;
  color: rgba(255, 255, 255, 0.87);
}
#main {
  position: relative;
  display: block;
  padding: 8px;
  z-index: 1;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
}

video {
  background: black;
}

ul {
  list-style: none;
  padding-left: initial;
}
li {
  position: relative;
  padding: 4px;
  padding-left: 24px;
}
li:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.2);
}
li:nth-child(2n+2) {
  background: rgba(255, 225, 255, 0.2);
}
li:before {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

a {
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 0 0 2px;
}
a:link, a:visited {
  color: #3ca1cc;
}
a:hover, a:active {
  color: #58cbfc;
  text-shadow: 0 0 8px;
}

.dark {
  transition: opacity 0.3s;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  pointer-events: none;
  opacity: 0;
}

header {
  display: block;
  position: fixed;
  z-index: 100;
  background: #d8ceeb;

  left: 0;
  top: 0;
  width: 256px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 0 8px;
}
header #logo, header #navlogo, header a {
  display: block;
  width: 256px;
  padding: 8px;
  margin-bottom: 2px;
}
header #navlogo {
  display: none;
}
header a {
  transition: width 0.3s, background 0.3s, box-shadow 0.3s;
  width: calc(256px + 4px);
  background: white;
  display: block;
  padding: 16px;
  color: black;
  text-shadow: none;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0 -2px 0 inset, rgba(0, 0, 0, 0.4) 0 2px 4px;
}
header a:hover {
  width: calc(256px + 16px);
  padding: 16px;
  background: #f3f9fc;
  box-shadow: rgba(60, 161, 204, 0.4) 0 -2px 0 inset, rgba(0, 0, 0, 0.4) 0 2px 8px;
}

#main>#main-content {
  display: block;
  position: relative;

  margin-left: 256px;
}

#functions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  background: #222222;
}
[function], [warning] {
  transition: color 0.3s, min-height 0.3s;
  position: relative;
  display: block;
  padding: 4px 16px;
  border-radius: 3px;
  width: calc(33vw - 16px);
  min-height: 256px;
  overflow: hidden;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 32px inset,
              rgba(0, 0, 0, 0.5) 0 4px 16px inset;
}
[warning] {
  position: absolute;
  bottom: 128px;
  left: calc(50% - 256px);
  width: 512px;
  min-height: 0px;
  background: #fb0d3d;
}
[function] {
  margin: 8px;
}
[function]:hover {
  z-index: 60;
}
[function]:nth-child(2n+1) {
  background: #b84f64;
}
[function]:nth-child(2n+2) {
  background: #4fb8a3;
}
[function]:nth-child(2n+3) {
  background: #4f64b8;
}
[function][mediabg] {
  background: black;
  box-shadow: none;
  padding: 0;
}
[function][mediabg] [fg] {
  display: block;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 4px 16px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 32px inset,
              rgba(0, 0, 0, 0.5) 0 4px 16px inset;
}
[shim], [function][mediabg] [fg] {
  transition: background 0.3s;
  background: rgba(0, 0, 0, 0.25);
}
[shim], [function][mediabg]:hover [fg] {
  background: transparent;
}

[function] [media] {
  position: absolute;
  bottom: 0;
}
[function] [media][small] {
  width: 128px;
  height: 128px;
}
[function][mediabg] [media] {
  transition: filter 0.3s;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: 50%;
  width: calc(100% + 8px);
  transform: translate(-50%, 50%);
  filter: blur(4px);
}
[function][mediabg]:hover {
  color: transparent;
  filter: blur(0px);
}
[function][mediabg]:not([noextend]):hover {
  min-height: 256px;
}
[function][mediabg]:hover [media] {
  filter: blur(0px);
}

[function] sub {
  transition: opacity 0.3s, background 0.3s, color 0.3s, filter 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  opacity: 0.1;
  background: rgba(0, 0, 0, 1);
  filter: blur(1px);
}
[function]:hover sub {
  color: rgba(255, 255, 255, 0.87);
  opacity: 1;
  background: rgba(0, 0, 0, 0.75);
  filter: blur(0px);
}

@media only screen and (max-width: 1100px) {
  #main {
    padding-top: 64px;
  }
  header {
    left: 0;
    top: 0;
    width: 100vw;
    height: 64px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px;
  }
  #main>#main-content {
    margin-left: 0;
  }
  header #logo {
    width: initial;
    height: 64px;
    padding: 8px;
    padding-left: 64px;
  }
  header #navlogo {
    display: block;
    position: relative;
    z-index: 102;
  }

  #navbutton {
    display: block;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 48px;
    height: 48px;
  }
  #navbutton div {
    display: block;
    position: absolute;
    left: 0;
    width: 48px;
    height: 8px;
    background: white;
    border: 2px solid black;
  }
  #navbutton div:nth-child(1) {
    top: 4px;
  }
  #navbutton div:nth-child(2) {
    top: 20px;
  }
  #navbutton div:nth-child(3) {
    top: 36px;
  }

  header {
    background: #402b68;
  }
  nav {
    transition: transform 0.3s;
    position: absolute;
    z-index: 101;
    left: 0;
    top: 0;
    width: 256px;
    height: 100vh;
    transform: translateX(-260px);
    background: #d8ceeb;
  }
  #navbutton:hover~nav, nav:hover {
    transform: translateX(0);
  }
  nav a {
    position: relative;
    z-index: 102;
  }
  #navdark {
    z-index: -10;
  }
  #navbutton:hover~#navdark, nav:hover~#navdark {
    opacity: 1;
    pointer-events: auto;
  }
}

@media only screen and (max-width: 900px) {
  [function] {
    width: calc(50vw - 16px);
  }
}

@media only screen and (max-width: 740px) {
  #functions {
    display: block;
  }
  [function] {
    position: relative;
    width: auto;
    min-height: 128px;
  }
  [function]:nth-child(2n+1) {
    margin: 8px 64px 8px 0;
  }
  [function]:nth-child(2n+2) {
    margin: 8px 0 8px 64px;
  }
}

@media only screen and (max-width: 534px) {
  [function],[warning] {
    min-width: 0px;
    min-height: 192px;
  }
  [warning] {
    left: 0;
    width: 100vw;
  }
}
@media only screen and (max-height: 800px) {
  [warning] {
    bottom: calc(100vh);
    transform: translateY(100%);
  }
}
@media only screen and (max-width: 1100px) and (max-height: 800px) {
  [warning] {
    bottom: calc(100vh - 64px);
  }
}
