body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 200;
  background: #b8a34f;
  color: rgba(255, 255, 255, 0.87);
}
#main {
  display: block;
  padding: 8px;
  z-index: 1;
}

h1 {
  font-weight: 300;
}

video {
  background: black;
}

ul {
  list-style: none;
  padding-left: initial;
}
li {
  position: relative;
  padding: 4px;
  padding-left: 24px;
}
li:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.2);
}
li:nth-child(2n+2) {
  background: rgba(255, 225, 255, 0.2);
}
li:before {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

#functions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
[function], [warning] {
  transition: color 0.3s, min-height 0.3s;
  position: relative;
  display: block;
  padding: 4px 16px;
  border-radius: 3px;
  min-width: 320px;
  min-height: 64px;
  overflow: hidden;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px,
              rgba(255, 255, 255, 0.4) 0 2px 0 inset,
              rgba(0, 0, 0, 0.4) 0 -2px 0 inset;
}
[warning] {
  position: absolute;
  bottom: 128px;
  left: calc(50% - 256px);
  width: 512px;
  background: #fb0d3d;
}
[function] {
  margin: 8px;
}
[function]:hover {
  z-index: 60;
}
[function]:nth-child(2n+1) {
  background: #b84f64;
}
[function]:nth-child(2n+2) {
  background: #4fb8a3;
}
[function]:nth-child(2n+3) {
  background: #4f64b8;
}
[function][mediabg] {
  background: black;
}

[function] [media] {
  position: absolute;
  bottom: 0;
}
[function] [media][small] {
  width: 128px;
  height: 128px;
}
[function][mediabg] [media] {
  transition: filter 0.3s;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: 50%;
  width: calc(100% + 8px);
  transform: translate(-50%, 50%);
  filter: blur(4px);
}
[function][mediabg]:hover {
  color: transparent;
  filter: blur(0px);
}
[function][mediabg]:not([noextend]):hover {
  min-height: 256px;
}
[function][mediabg]:hover [media] {
  filter: blur(0px);
}

@media only screen and (max-device-width: 740px) {
  #functions {
    display: block;
  }
  [function] {
    position: relative;
    width: auto;
  }
  [function]:nth-child(2n+1) {
    margin: 8px 64px 8px 0;
  }
  [function]:nth-child(2n+2) {
    margin: 8px 0 8px 64px;
  }
}

@media only screen and (max-device-width: 534px) {
  [warning] {
    left: 8px;
    width: calc(100vw - 16px);
  }
}
